.Toastify {

  &__toast-body {
    margin-left: 1rem;
    font-family: "Cairo";
  }

  &__toast-container--top-left {
    top: 6rem !important;
  }

  &__progress-bar--default {
    background: #09d3ac !important;
  }

  &__close-button {
    align-items: center;
  }

  &__toast {
    &.cinema-toast {

      background: #282c34;
      border-top: 1px solid #282c34;;
      color: #09d3ac;
      padding-right: 2rem;
      font-family: "Cairo";

      .Toastify__close-button {
        color: #09d3ac;
        align-items: center;
        width: 1rem !important;
        min-width: 1rem !important;
      }
    }
  }
}