Django==2.2.6
pytz==2019.3
sqlparse==0.3.0
django-cors-headers
channels
djangorestframework
markdown
django-filter
djangorestframework-jwt
uwsgi
jsonfield
asgiref==2.1.6
asgi_redis
django-extensions
xmltodict
requests
pyzmq
channels_redis
python-dotenv
psycopg2-binary
Pillow==6.2.1