@import '../../App/stylesheet/breakpoints.scss';

.navigation {
  background-color: #282c34;
  padding-top: 1rem;
  width: 80%;
  display: flex;
  justify-content: space-between;

  @include sm {
    width: 100%;
  }



  .menu {

    ul {
      list-style-type: none;
      margin: 0;
      padding: 0;
      overflow: hidden;

      li {
        background-color: #282c34;
        border: none;
        background-color: #282c34;
        color: #09d3ac;
        font-size: 1.1rem;
        font-weight: bold;
        padding: 0.75rem;
        padding-left: .75rem;
        padding-right: .75rem;
        margin-left: .50rem;
        margin-right: .50rem;
        float: left;
        &:hover {
          border-bottom: 1px solid #09d3ac;
          cursor: pointer;
          a {
            color: #09d3ac;
            &:visited {
              text-decoration: none;
              color: #09d3ac;
            }
          }
        }
        a {
          display: block;
          text-decoration: none;
          color: #09d3ac;
          &:visited {
            text-decoration: none;
            color: #09d3ac;
          }
        }
      }

      .main-icon {
        font-family: "Parisienne";
        font-size: 2rem;
        &:hover {
          border-bottom: none;
        }
      }
    }
  }
}

