.programme {
  .container {
    width: 100%;
  }

  .create-new {
    text-align: right;
    button {
      font-size: 1rem;
    }
  }

  .result-table {
    text-align: center;
    border-radius: 0.25rem;
    h1 {
      text-align: left;
      margin-bottom: 0;
    }
    hr {
      width: 100%;
      margin-top: 0;
    }
    .row {
      padding-top: .5rem;
      padding-bottom: .5rem;
      background-color: #282c34;
      color: #9dfbe8;
      border-bottom: 1px solid #cefdf4;
      &:hover {
        cursor: pointer;
      }
      div {
        display: flex;
        align-items: center;
        justify-content: center;
      }
      p {
        font-size: 1.1rem;
      }
    }
  }
}