.my-profile {
  display: flex;
  justify-content: center;
  .container {
    margin-top: 1rem;
    width: 100%;
    text-align: center;
    .form {
     margin-bottom: 1.5rem;
    }
    input {
      width: 50%;
      height: 2rem;
      margin-bottom: 0.5rem;
      background-color: #09d3ac;
      color: #282c34;
      font-size: 1.2rem;
      font-family: 'Cairo';
      padding-left: 0.5rem;
      border: 1px solid #09d3ac;
      border-radius: 0.1rem;
    }
    button {
      min-width: 7rem;
      background-color: #09d3ac;
      color: #282c34;
      border: 1px solid #09d3ac;
      padding: 0.5rem 0.75rem;
      text-decoration: none;
      margin-left: 1rem;
      border-radius: .25rem;
      -webkit-transition-duration: 0.4s; /* Safari */
      transition-duration: 0.4s;
      &:hover {
        cursor: pointer;
        background-color: #282c34;
        border: 1px solid #09d3ac;
        color: #09d3ac;
      }
    }

    ::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
      color: #646e82;
      opacity: 1; /* Firefox */
    }

    :-ms-input-placeholder { /* Internet Explorer 10-11 */
      color: #646e82;
    }

    ::-ms-input-placeholder { /* Microsoft Edge */
      color: #646e82;
    }
    p {
      a {
        text-decoration: underline;
        color: #09d3ac;
      }
    }
  }
}

.result-table {
  width: 100%;
  border-radius: .25rem;
  .row {
    display: flex;
    align-items: center;
    padding-top: .5rem;
    padding-bottom: .5rem;
    margin-top: .1rem;
    margin-bottom: .1rem;

    &:hover {
      cursor: pointer;
      background-color: #373d48;
    }

    &:first-of-type {
      font-size: 1.5rem;
      padding-top: .25rem;
      padding-bottom: .25rem;
      border-bottom: 2px solid #09d3ac;
      &:hover {
        cursor: auto;
        background-color: #282c34;
      }
    }
  }
  .col-xs-1, .col-xs-2, .col-xs-3 {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .col-xs-4 {
    display: flex;
    justify-content: flex-end;
  }
}